<html>
<head>
    <title>{{pageTitle}}</title>
    <script type='text/javascript' src='{{{echartsUrl}}}'></script>
</head>
<body>
<div id="c2">
    {{{chartDiv1}}}
    <script type='text/javascript'>{{{chartScript1}}}</script>
</div>
<div id="c1">
    {{{chartDiv0}}}
    <script type='text/javascript'>{{{chartScript0}}}</script>
</div>
<div id="c30">
    {{{chartDiv30}}}
    <script type='text/javascript'>{{{chartScript30}}}</script>
</div>
</body>
</html>