<html>
<head>
    <title>{{pageTitle}}</title>
    <script type='text/javascript' src='{{{echartsUrl}}}'></script>
</head>
<body>
{{#charts}}
<div>
    {{{chartDiv}}}
    <script type='text/javascript'>{{{chartScript}}}</script>
</div>
{{/charts}}
</body>
</html>