<script type='text/javascript' src='{{echartsJsUrl}}'></script>
<div id='{{id}}' style='width: {{width}}px;height:{{height}}px;'></div>
<script type='text/javascript'>
    var chart_{{id}} = echarts.init(document.getElementById('{{id}}'){{#theme}}, '{{.}}'{{/theme}});
    var option_{{id}} = {
        {{#title}}
        title: {
            text: '{{.}}'
        },
        {{/title}}
        xAxis: {
            type: 'category',
            data: [{{#xAxis}}'{{value}}'{{^last}},{{/last}}{{/xAxis}}]
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {{#yAxes}}
            {
              data: [{{#value}}{{value}}{{^last}},{{/last}}{{/value}}],
              type: 'line'
            }{{^last}},{{/last}}
            {{/yAxes}}
        ]
    };
    option_{{id}} && chart_{{id}}.setOption(option_{{id}});</script>