<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
    <script type='text/javascript' src='{{{echartsUrl}}}'></script>
</head>
<body>
<style>.dfl_ech { margin: 50px auto; padding: 20px; }</style>
{{#charts}}
{{{chartDiv}}}
<script type='text/javascript'>{{{chartScript}}}</script>
{{/charts}}
</body>
</html>