<script type='text/javascript'>
    var chart_{{id}} = echarts.init(
        document.getElementById('{{id}}'),
        {{{themeOrNull}}},
    {{#initOpts}}
        {
            {{#renderer}}renderer: '{{.}}'{{/renderer}}
        }
    {{/initOpts}}   );
    var option_{{id}} = {
{{#option}}
    {{#title}}
        title: {
            text: '{{.}}'
        },
    {{/title}}
    {{#toolbox}}
        toolbox: {
            feature: {
            {{#dataZoom}}
                dataZoom: {},
            {{/dataZoom}}
            {{#saveAsImage}}
                saveAsImage: {
                {{#pixelRatio}}
                    pixelRatio: {{.}}
                {{/pixelRatio}}
                },
            {{/saveAsImage}}
            {{#restore}}
                restore: {}
            {{/restore}}
            }
        },
    {{/toolbox}}
    {{#legend}}
        legend: {},
    {{/legend}}
    {{#dataset}}
        dataset: {
            source: [
                {{#rows}}
                [{{#columns}}{{{quotedValue}}}{{^last}},{{/last}}{{/columns}}]{{^last}},{{/last}}
                {{/rows}}
            ]
        },
    {{/dataset}}
    {{#xAxis}}
        xAxis: {
        {{#axisLabel}}
            axisLabel: {
            {{#formatter}}
                formatter: '{{.}}'
            {{/formatter}}
            },
        {{/axisLabel}}
        {{#noBoundaryGap}}
            boundaryGap: false,
        {{/noBoundaryGap}}
        {{#type}}
            type: '{{.}}'
        {{/type}}
        },
    {{/xAxis}}
    {{#yAxis}}
        yAxis: {
        {{#axisLabel}}
            axisLabel: {
            {{#formatter}}
                formatter: '{{.}}'
            {{/formatter}}
            },
        {{/axisLabel}}
        {{#type}}
            type: '{{.}}'
        {{/type}}
        },
    {{/yAxis}}
        series: [
            {{#series}}
            {
                name: '{{name}}',
            {{#areaStyle}}
                areaStyle: {},
            {{/areaStyle}}
            {{#encode}}
                encode: { x: {{x}}, y: {{y}} },
            {{/encode}}
            {{#seriesLayoutBy}}
                seriesLayoutBy: '{{.}}',
            {{/seriesLayoutBy}}
            {{#dontShowSymbol}}
                showSymbol: false,
            {{/dontShowSymbol}}
            {{#smooth}}
                smooth: true,
            {{/smooth}}
            {{#stack}}
                stack: 'total',
            {{/stack}}
                type: '{{type}}'
            }{{^last}},{{/last}}
            {{/series}}
        ]
{{/option}}
    };
    option_{{id}} && chart_{{id}}.setOption(option_{{id}});</script>