<script type='text/javascript'>
    var chart_{{id}} = echarts.init(document.getElementById('{{id}}'){{#theme}}, '{{.}}'{{/theme}});
    var option_{{id}} = {
    {{#title}}
        title: {
            text: '{{.}}'
        },
    {{/title}}
    {{#legend}}
        legend: {},
    {{/legend}}
    {{#xAxis}}
        xAxis: {
        {{#axisLabel}}
            axisLabel: {
            {{#formatter}}
                formatter: '{{.}}'
            {{/formatter}}
            },
        {{/axisLabel}}
            type: 'category',
        {{#noBoundaryGap}}
            boundaryGap: false,
        {{/noBoundaryGap}}
            data: [{{#data}}'{{value}}'{{^last}},{{/last}}{{/data}}]
        },
    {{/xAxis}}
    {{#yAxis}}
        yAxis: {
        {{#axisLabel}}
            axisLabel: {
            {{#formatter}}
                formatter: '{{.}}'
            {{/formatter}}
            },
        {{/axisLabel}}
            type: 'value'
        },
    {{/yAxis}}
        series: [
            {{#series}}
            {
              name: '{{name}}',
              {{#areaStyle}}
              areaStyle: {},
              {{/areaStyle}}
              {{#stack}}
              stack: 'total',
              {{/stack}}
              {{#smooth}}
              smooth: true,
              {{/smooth}}
              data: [{{#data}}{{value}}{{^last}},{{/last}}{{/data}}],
              type: '{{type}}'
            }{{^last}},{{/last}}
            {{/series}}
        ]
    };
    option_{{id}} && chart_{{id}}.setOption(option_{{id}});</script>